<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud App</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../assets/css/style.css">

</head>

<body>
    <!---Header-->
    <header id="header"></header>
    <nav>
        <div class="container">
            <div class="text-center">
                <a href="/" class "nav-brand text-dark">User Management</a>
            </div>
        </div>
    </nav>
    <!---/Header-->
    <!--Main-->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/" class="all_users"><i class="fa-solid fa-angles-left"></i> All Users</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">New User</h2><span class="text-light">Registration form</span>
            </div>
        </div>
        <!--Form-->
        <form action="/" method="POST" id="update_user">
            <div class="new_user">
                <div class="form-group">
                    <label for="name" class="text-light">Name</label>
                    <input type="hidden" name="id" value="">
                    <input type="text" name="name" value="" placeholder="Your name">
                </div>
                <div class="form-group">
                    <label for="Email" class="text-light">Email</label>
                    <input type="text" name="email" placeholder="abc@example.com">
                </div>
                <div class="form-group">
                    <label for="status" class="text-light">Gender</label>
                    <div class="radio inline">
                        <input type="radio" id="radio1" name="gender" value="Male">
                        <label for="radio1" class="text-light">Male</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" id="radio2" name="gender" value="Female">
                        <label for="radio2" class="text-light">Female</label>
                    </div>

                </div>
                <div class="form-group">
                    <label for="status" class="text-light">Status</label>
                    <div class="radio inline">
                        <input type="radio" id="radio3" name="status" value="Active">
                        <label for="radio3" class="text-light">Active</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" id="radio4" name="status" value="Inactive">
                        <label for="radio4" class="text-light">Inactive</label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Submit</button>
                </div>
            </div>
        </form>
        <!--/Form-->
    </main>
    <!--/Main-->
    <!--Footer-->
    <!--/Footer-->
</body>

</html>